* {
  margin: 0px;
  padding: 0px;
}

header,
footer,
.hero-container {
  background-color: #1f2937;
}

.header-container,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  gap: 24px;
}

.header-container {
  max-width: 80%;
  margin: auto;
}

.logo,
ul {
  margin: 24px;
}

li {
  list-style: none;
}

li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.img-placeholder {
  background-color: grey;
  padding: 100px 200px;
}

.hero {
  margin: 4em;
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

.btn {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 12px 24px;
  margin: 12px 0px;
  border: none;
  border-radius: 10px;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: auto;
  height: 60vh;
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.section-header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
}

.blue-border {
  width: 200px;
  height: 200px;
  border: 3px solid #3882f6;
  border-radius: 10%;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quote-container {
  background-color: #e5e7eb;
  flex-direction: column;
}

.column {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.author {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
}

.cta-container {
  background-color: #3882f6;
  padding: 50px 50px;
  border-radius: 8px;
}

.main,
.sub-main,
.btn-alt {
  color: #e5e7eb;
}

.main {
  font-size: 20px;
  font-weight: bold;
}

.btn-alt {
  background-color: transparent;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  padding: 12px 24px;
  margin: 0px 16px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.copywrite {
  color: #e5e7eb;
}
